/* #region Widgets */

/* #region General */

.content>.widgets {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

@media (max-width: 767px) {
  .content>.widgets {
    grid-template-columns: 1fr;
  }
}

/* #region Header */

.widget>header {
  margin-top: 5px;
  margin-bottom: 23px;
}

.widget>header>p {
  margin-top: 12px;
  color: var(--color-gray);
  font-size: 15px;
}

/* #endregion */

/* #endregion */

/* #region Widget Site Control */

.wid-site-con>.option {
  align-items: flex-end;
}

.wid-site-con>textarea {
  height: 150px;
  resize: none;
}

/* #endregion */

/* #region Widget General Info */

.wid-gen-info>form input:disabled {
  cursor: no-drop;
  background-color: #f0f4f8;
  color: #bbb;
}

.wid-gen-info>form>div {
  align-items: flex-end;
}

/* #endregion */

/* #region Widget Social Info */

.wid-soc-info>.options>div {
  height: 40px;
  background-color: #f6f6f6;
}

.wid-soc-info>.options>div>i {
  border-right: 1px solid #ddd;
  width: 38px;
  transition: color var(--main-trans-duration);
}

.wid-soc-info>.options>div:focus-within>i {
  color: black;
}

.wid-soc-info>.options>div>input {
  padding-left: 10px;
  background-color: transparent;
}

/* #endregion */

/* #region Widget Widgets Control */

.wid-wid-cont>div {
  padding-left: 7px;
  row-gap: 18px;
}

/* #endregion */

/* #region Widget Backup Manager */

.wid-back-man>div {
  margin-left: 7px;
}

.wid-back-man>div:last-of-type {
  height: 80px;
  gap: 10px 8px;
  justify-content: stretch;
}

@media (max-width: 768px) {
  .wid-back-man>div:last-of-type {
    flex-direction: column;
    margin-left: 0;
    height: auto;
  }

  .wid-back-man>div:last-of-type>.cust-rdo-2 {
    flex-basis: 80px;
  }
}

/* #endregion */

/* #endregion */